.fnf-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.fnf-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 8px;
}

.fnf-container p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

.fnf-container p.youtube-link {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-align: center;
}